* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #242323b6, #332626);
  color: #fff;
}
.logo {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
.about-btn {
  background: linear-gradient(to right, #ffffff, #0e0d0d);
  border: 1px solid #000;
  color: #ffffff;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.top-bar {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f1f1;
  color: rgb(54, 53, 53);
  margin-bottom: 20px;
  top: 0;
  left: 0;
  z-index: 100;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.horizontal-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.horizontal-form input,
.horizontal-form select {
  flex: 1 1 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.action-btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #000;
}

@media (max-width: 768px) {
  .horizontal-form {
    flex-direction: column;
    align-items: stretch;
  }

  .horizontal-form input,
  .horizontal-form select {
    width: 100%;
    flex: none;
    padding: 8px;
    font-size: 14px;
  }

  .action-btn {
    width: 100%;
    padding: 10px;
    font-size: 15px;
  }
  .logo {
    color: #000;
    font-size: 24px;
    font-weight: bold;
  }
}
