* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #000000, #434343);
  color: #fff;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.top-bar {
  background: white;
  color: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.main-section {
  display: flex;
  gap: 40px;
  padding: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(201, 193, 193);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.card h2 {
  margin-bottom: 20px;
  color: #333;
}

.card select,
.card input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.user-profile button {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.user-profile button:hover {
  background-color: #555;
}
.action-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #333;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-btn:hover {
  background-color: #000;
}
